# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.rollaballMVC.iml
# Datasource local storage ignored files
/../../../../../../../:\1\projects\rollaballMVC\.idea\.idea.rollaballMVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
